@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: #000;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.wishes{
    position: absolute;
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 50px;
    opacity: 0.1;
    z-index: -1;
}
.search{
    position: absolute;
    background: transparent;
    padding: 10px;
    top: 10%;
    width: 500px;
    height: 25px;
    border: none;
    font-size: 20px;
    color: #fff;
}
.search:focus{
    outline: none;
    border-bottom: 1px solid #fff;
}
.search:active{
    outline: none;
}
.search.visible, .wishes.visible{
    display: none;
}
.trust{
    position: absolute;
    top: 20%;
    text-transform: uppercase;
    letter-spacing: 10px;
    display: none;
}
.trust.see, .quotes.see{
    display: block;
}
.quotes{
    display: flex;
    flex-direction: column;
    display: none;
}
@media screen and (max-width: 768px) {
    .search{
        width: 300px;
    }
    .wishes{
        font-size: 50px;
        letter-spacing: 20px;
    }
    .trust{
        font-size: 20px;
    }
}